body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #eef1f7;
    font-family: Arial, sans-serif;
}

.main-content {
    flex: 1;
}

#loader{
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #333;
    padding-top: 225px;
}

.header {
    width: 100%;
    height: 100px;
    background-color: #007bff;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 30px;
    box-sizing: border-box;
}

.cart-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
    padding: 30px;
}


.logo {
    font-size: 22px;
    font-weight: bold;
}

#search-input {
    padding: 8px 12px;
    width: 250px;
    border-radius: 5px;
    border: none;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.product-container {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px;

    display: flex;
    flex-direction: column;

    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: contain;
    margin-bottom: 10px;
}

.card h3 {
    font-size: 18px;
    margin: 5px 0;
}

.card p {
    font-size: 14px;
    line-height: 1.4;
    margin: 5px 0;
}

.card p:first-of-type {
    height: 40px;
    overflow: hidden;
}

.card button {
    margin-top: auto;
}

.btn {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
}

footer {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 20px;
}