.product-container{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card{
    background: white;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card img{
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.btn{
    margin-top: 10px;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

.cart-container{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.header{
    display: flex;
    width: 95%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #007bff;
    color: white;
}

.logo{
    font-size: 22px;
    font-weight: bold;
}

nav a{
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
}

#search-input{
    padding: 8px 12px;
    width: 250px;
    border-radius: 5px;
    border: none;
    outline: none;
}

footer {
  background: #007bff;
  color: white;
  text-align: center;
  padding: 1.5rem;
  margin-top: auto;
  position: relative;
  overflow: hidden;
}